test-harness/src/test/testcases/jaxws/mtom/work/services/war/WEB-INF/wsdl/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types="http://example.org/mtom/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.org/mtom" name="SOAPBuilders-mtom-cr-test" targetNamespace="http://example.org/mtom">

	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://example.org/mtom/data" elementFormDefault="qualified">
        <import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="wsi-swa.xsd"/>
        <complexType name="DetailType">
            <sequence>
                <element name="Photo" type="base64Binary"/>
                <element name="image" type="base64Binary" xmime:expectedContentTypes="image/jpeg"/>
            </sequence>
        </complexType>
		<element name="Detail" type="types:DetailType"/>
		<element name="DetailResponse" type="types:DetailType"/>
        <element name="data" type="base64Binary"/>
		</schema>

	</wsdl:types>

    <wsdl:message name="echoDataIn">
        <wsdl:part name="data" element="types:data"/>
    </wsdl:message>

    <wsdl:message name="echoDataOut">
        <wsdl:part name="data" element="types:data"/>
    </wsdl:message>


    <wsdl:message name="HelloIn">
        <wsdl:part name="data" element="types:Detail"/>
    </wsdl:message>

    <wsdl:message name="HelloOut">
        <wsdl:part name="data" element="types:DetailResponse"/>
    </wsdl:message>

	<wsdl:portType name="Hello">
        <wsdl:operation name="echoData">
			<wsdl:input message="tns:echoDataIn"/>
			<wsdl:output message="tns:echoDataOut"/>
		</wsdl:operation>

        <!-- mtom test -->
		<wsdl:operation name="Detail">
			<wsdl:input message="tns:HelloIn"/>
			<wsdl:output message="tns:HelloOut"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="HelloBinding" type="tns:Hello">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="echoData">
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="Detail">
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="HelloService">
  		<wsdl:port name="HelloPort" binding="tns:HelloBinding">
    			<soap11:address location="in-vm://jaxws.mtom/?HelloPort"/>
  		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>